.card-wrap {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto
}

.white-card {
    background-color: white;
    box-shadow: 0rem 0.87rem 2.12rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
}

.bg-login {
    background-color: rgb(98, 0, 192);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0rem;
    left: 0rem;
    z-index: -5;
}

.title-wrap {
    flex-direction: column;
    background-color: rgb(253, 251, 255);
    padding-left: 1.2rem;
    padding-top: 0.6rem;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    letter-spacing: -0.06rem;
}

.login-card-wrap {
    padding: 0.6rem 1.2rem 0rem;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-image {
    width: 18.7rem;
    display: block;
    margin-right: 0.6rem
}

.login-btn-keycloak {
    display: flex;
    flex-direction: row;
    margin-top: 0.6rem;
    background-color: rgb(98, 0, 192);
    padding: 0.6rem;
    border-width: 0rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.font-signin {
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    font-size: 1.2rem;
}

.css-1anx036 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.font-btn {
    font-size: 0.87rem;
    color: white;
    margin-left: 0.6rem;
    font-weight: 100;
}

.login-logo {
    height: 1.5em;
    width: 1.5em;
    position: relative;
}

.css-zq6grw {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
}