.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(245, 243, 247);
}

.footer p {
  color: grey;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer h1 {
  color: black;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
